{% load tz %}
{% load humanize %}
{% load heroicons %}

<li class="relative px-4 py-6 border rounded bg-gray-50 space-y-4">
  <section class="flex items-center justify-between space-x-2">
    {% include "page/_activity_date.html" %}
    <a href="{% url "activity:edit" activity.id %}"
       class="opacity-50 text-link"
       title="Edit this activity">
      {% heroicon_outline "pencil-alt" class="w-4 h-4" %}
    </a>
  </section>

  <section class="flex flex-wrap justify-around items-start">
    <section class="flex flex-col space-y-4 mb-6 flex-1">
      <h3 class="text-xl font-bold">
        Metrics:
      </h3>
      <section class="flex items-start justify-start">
        <section class="pr-4 border-r">
          {% if activity.distance %}
            <h4 class="text-xs">Distance</h4>
            <p class="text-base">{{ activity.format_distance }}</p>
          {% else %}
            <h4 class="text-xs">Cal</h4>
            <p class="text-base">{{ activity.calories|intcomma }}</p>
          {% endif %}
        </section>
        <section class="px-4 border-r">
          <h4 class="text-xs">Elev. gain</h4>
          <p class="text-base">{{ activity.format_elev }}</p>
        </section>
        <section class="px-4">
          {% if activity.type == "Run" %}
            <h4 class="text-xs">Pace</h4>
            <p class="text-base">{{ activity.format_pace }}</p>
          {% elif activity.type == "Swim" %}
            <h4 class="text-xs">Speed</h4>
            <p class="text-base">{{ activity.format_speed_mps }}</p>
          {% else %}
            <h4 class="text-xs">Avg. speed</h4>
            <p class="text-base">{{ activity.format_speed_kph }}</p>
          {% endif %}
        </section>
      </section>

      <section class="flex items-start justify-start">
        <section class="pr-4 border-r">
          <h4 class="text-xs">Time</h4>
          <p class="text-base">{{ activity.format_moving_time }}</p>
        </section>
        <section class="px-4 border-r">
          <h4 class="text-xs">Avg. HR</h4>
          <p class="text-base">{{ activity.average_hr }}</p>
        </section>
        <section class="px-4">
          <h4 class="text-xs">Max HR</h4>
          <p class="text-base">{{ activity.max_hr }}</p>
        </section>
      </section>

      <section class="flex flex-col space-y-4">
        <h3 class="text-xl font-bold">
          Stress score:
        </h3>
        <section>
          <p class="text-lg">{{ activity.stress_score }}<p>
        </section>
      </section>
    </section>

    {% if activity.max_hr %}
    <section class="flex flex-col space-y-4 flex-1">
      <h3 class="text-xl font-bold">
        Heart rate zones:
      </h3>
      <section>
        {% include "page/_activity_heart.html" %}
      </section>
    </section>
    {% endif %}
  </section>
<li>
