{% load tz %}
{% load humanize %}

<li class="p-4 border rounded bg-gray-50 space-y-4">
  <p class="text-xs">
    {% timezone activity.timezone %}
      {{ activity.start_date|naturalday|title }} at
      {{ activity.start_date|date:"P" }}
    {% endtimezone %}
    &middot; {{ activity.start_location }}
  </p>
  <h3 class="flex items-center text-xl font-bold justify-stretch space-x-3">
    <span class="flex-shrink-0">
    {% if activity.type == "Ride" %}
      {% include "page/ride.svg" %}
    {% elif activity.type == "Run" %}
      {% include "page/run.svg" %}
    {% elif activity.type == "Swim" %}
      {% include "page/swim.svg" %}
    {% else %}
      {% include "page/activity.svg" %}
    {% endif %}
    </span>
    <span>
      {{ activity.name }}
    </span>
  </h3>
  <section class="flex items-start justify-start">
    <section class="pr-4 border-r">
      <h4 class="text-xs">Distance</h4>
      <p class="text-base">{{ activity.format_distance }}</p>
    </section>
    <section class="px-4 border-r">
      {% if activity.type == "Ride" %}
        <h4 class="text-xs">Elev. gain</h4>
        <p class="text-base">{{ activity.format_elev }}</p>
      {% elif activity.type == "Run" %}
        <h4 class="text-xs">Pace</h4>
        <p class="text-base">{{ activity.format_pace }}</p>
      {% else %}
        <h4 class="text-xs">Speed</h4>
        <p class="text-base">{{ activity.format_speed }}</p>
      {% endif %}
    </section>
    <section class="px-4">
      <h4 class="text-xs">Time</h4>
      <p class="text-base">{{ activity.format_moving_time }}</p>
    </section>
  </section>
  <img src="{% url "activity:map" activity.id %}" class="rounded" />
<li>
