{% load humanize %}
{% load heroicons %}
{% load static %}

<li class="relative px-4 py-6 border rounded bg-gray-50 space-y-4">
  <section class="flex items-center justify-between space-x-2">
    {% include "page/_activity_date.html" %}
    {% if request.user == activity.user %}
      <a href="{% url "activity:detail" activity.id %}"
         class="opacity-50 text-link"
         title="View this activity">
        {% heroicon_outline "link" class="w-4 h-4" %}
      </a>
    {% endif %}
  </section>
  <h3 class="flex items-center text-xl font-bold justify-stretch space-x-3">
    <span class="flex-shrink-0">
    {% if activity.type == "Ride" %}
      {% include "page/ride.svg" %}
    {% elif activity.type == "Run" %}
      {% include "page/run.svg" %}
    {% elif activity.type == "Swim" %}
      {% include "page/swim.svg" %}
    {% elif activity.type == "Hike" %}
      {% include "page/hike.svg" %}
    {% elif activity.type == "Walk" %}
      {% include "page/walk.svg" %}
    {% else %}
      {% include "page/activity.svg" %}
    {% endif %}
    </span>
    <p>{{ activity.name }}</p>
  </h3>
  <section class="flex items-start justify-start">
    <section class="pr-4 border-r">
      {% if activity.distance %}
        <h4 class="text-xs">Distance</h4>
        <p class="text-base">{{ activity.format_distance }}</p>
      {% else %}
        <h4 class="text-xs">Cal</h4>
        <p class="text-base">{{ activity.calories|intcomma }}</p>
      {% endif %}
    </section>
    <section class="px-4 border-r">
      {% if activity.type == "Ride" %}
        <h4 class="text-xs">Elev. gain</h4>
        <p class="text-base">{{ activity.format_elev }}</p>
      {% elif activity.type == "Run" %}
        <h4 class="text-xs">Pace</h4>
        <p class="text-base">{{ activity.format_pace }}</p>
      {% elif activity.distance %}
        <h4 class="text-xs">Speed</h4>
        <p class="text-base">{{ activity.format_speed }}</p>
      {% else %}
        <h4 class="text-xs">Avg. HR</h4>
        <p class="text-base">{{ activity.average_hr }}</p>
      {% endif %}
    </section>
    <section class="px-4">
      <h4 class="text-xs">Time</h4>
      <p class="text-base">{{ activity.format_moving_time }}</p>
    </section>
  </section>
  {% include "page/_activity_map.html" %}
<li>
