{% load humanize %}
{% load heroicons %}

<section class="mb-8 space-y-2">
  <section class="flex items-center justify-between space-x-4">
    <h2 class="text-lg font-medium">{{ last_year_total|intcomma }} activities in the last year</h2>
  </section>

  <section class="flex items-center justify-end px-4 overflow-hidden border rounded">
    <section style="width: 718px; height: 143px;">
      <canvas id="heatmap" style="width: 718px; height: 143px;"></canvas>
    </section>
  </section>
</section>

<section class="mb-8 space-y-2">
  <section class="flex items-center justify-between space-x-4">
    <h2 class="text-lg font-medium">Performance over the year</h2>
  </section>

  <section class="flex items-center justify-end px-4 overflow-hidden border rounded">
    <section style="width: 718px; height: 359px;">
      <canvas style="width: 718px; height: 359px;" id="fitness"></canvas>
    </section>
  </section>
</section>

<script src="//cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.1.0/dist/chartjs-chart-matrix.min.js"></script>

<script>
  // ==================== Heatmap start ====================
  const scales = {
    y: {
      type: 'time',
      offset: true,
      time: {
        unit: 'day',
        round: 'day',
        isoWeekday: 0,
        parser: function(w) {
          const d = new Date();
          const diff = w - d.getDay();
          d.setDate(d.getDate() + diff);
          return d
        },
        displayFormats: {
          day: 'iii'
        }
      },
      reverse: true,
      position: 'left',
      ticks: {
        source: 'data',
        maxRotation: 0,
        autoSkip: true,
        padding: 4,
        crossAlign: 'far',
        font: {
          size: 9,
        },
        callback: function(value, index, values) {
          return ['Mon', 'Wed', 'Fri'].indexOf(value) > -1 ? value : '';
        },
      },
      grid: {
        display: false,
        drawBorder: false,
        tickLength: 0
      },
    },
    x: {
      type: 'time',
      position: 'bottom',
      offset: true,
      display: false,
      time: {
        unit: 'week',
        round: 'week',
        isoWeekday: 0,
        displayFormats: {
          week: 'MMM'
        }
      },
      grid: {
        display: false,
        drawBorder: false,
        tickLength: 0,
      }
    }
  };

  const options = {
    responsive: false,
    aspectRatio: 5,
    plugins: {
      legend: false,
      tooltip: {
        displayColors: false,
        callbacks: {
          title() {
            return '';
          },
          label(context) {
            const v = context.dataset.data[context.dataIndex];
            return [
              (!v.v ? "No activities" : "Moved for " + v.l) + " on " + v.d,
            ];
          }
        }
      },
    },
    scales: scales,
    layout: {
      padding: {
        top: 4,
        bottom: 4,
      }
    }
  };

  const getBgColor = (c) => {
      const value = c.dataset.data[c.dataIndex].v;
      const alpha = value / 7200;
      return value ? `rgba(5, 150, 105, ${alpha})` : 'rgba(229, 231, 235, 1)';
  }

  const getBorderColor = (c) => {
    const value = c.dataset.data[c.dataIndex].v;
    const alpha = value / 7200;
    return value ? `rgba(5, 150, 105, ${alpha})` : 'rgba(229, 231, 235, 1)';
  }

  const data = {
    datasets: [{
      label: 'Moving time',
      data: {{ last_year_moving|safe }},
      backgroundColor(c) {
          return getBgColor(c);
      },
      borderColor(c) {
          return getBorderColor(c);
      },
      borderWidth: 1,
      hoverBackgroundColor(c) {
          return getBgColor(c);
      },
      hoverBorderColor(c) {
          return getBgColor(c);
      },
      width(c) {
        const a = c.chart.chartArea || {};
        return (a.right - a.left) / 52 - 2;
      },
      height(c) {
        const a = c.chart.chartArea || {};
        return (a.bottom - a.top) / 8 - 3;
      },
      borderRadius: 3,
    }]
  };


  const config = {
    type: 'matrix',
    data: data,
    options: options
  };

  var ctx = document.getElementById('heatmap').getContext('2d');
  var heatmap = new Chart(ctx, config);
  // ==================== Heatmap end ======================

  // ==================== Fitness start ====================
  const ftData = {{ fitness|safe }};
  const ftConfig = {
    type: 'line',
    data: {
      labels: ftData.map(o => o.x),
      datasets: [
        {
          label: "Fitness",
          data: ftData.map(d => d.ctl),
          yAxisID: 'ctl',
          borderColor: "rgba(5, 150, 105, 0.8)",
          backgroundColor: "rgba(5, 150, 105, 0.5)",
          pointRadius: 0,
        },
        {
          label: "Fatigue",
          data: ftData.map(d => d.atl),
          yAxisID: 'atl',
          borderColor: "rgba(209, 213, 219, 0.8)",
          backgroundColor: "rgba(209, 213, 219, 0.5)",
          pointRadius: 0,
        },
      ]
    },
    options: {
      responsive: true,
      interaction: {
        mode: 'index',
        intersect: false,
      },
      plugins:{
        legend: false,
        tooltip: {
          callbacks: {
            title([x, y]) {
              return x.label.split(',').slice(0, 2).join(',');
            },
          },
        },
      },
      stacked: false,
      scales: {
        x: {
          offset: true,
          type: 'time',
          grid: {
            display: false,
            drawBorder: false,
            tickLength: 0,
          },
          ticks: {
            autoSkip: true,
            font: {
              size: 9,
            },
          },
        },
        ctl: {
          offset: true,
          display: true,
          position: 'left',
          grid: {
            display: true,
          },
        },
        atl: {
          offset: true,
          display: false,
          position: 'right',
          grid: {
            display: false,
            drawBorder: false,
            tickLength: 0,
          },
        },
      },
      layout: {
        padding: {
          top: 30,
          bottom: 30,
        }
      },
    },
  };

  var ftCtx = document.getElementById('fitness').getContext('2d');
  var ftChart = new Chart(ftCtx, ftConfig);
  // ==================== Fitness end ======================
</script>
