{% load humanize %}
{% load heroicons %}

<section class="mb-8 space-y-2">
  <section class="flex items-center justify-between space-x-4">
    <h2 class="text-lg font-medium">{{ last_year_total|intcomma }} activities in the last year</h2>
    {% if request.user.username == username %}
      <a href="/" class="text-link opacity-50">
        Your progress
        {% heroicon_outline "chart-bar" class="w-4 h-4 ml-1" %}
      </a>
    {% endif %}
  </section>

  <section class="px-4 border rounded overflow-hidden flex items-center justify-end">
    <section style="width: 718px; height: 143px;">
      <canvas id="myChart" style="width: 718px; height: 143px;"></canvas>
    </section>
  </section>
</section>

<script src="//cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.1.0/dist/chartjs-chart-matrix.min.js"></script>

<script>
  const scales = {
    y: {
      type: 'time',
      offset: true,
      time: {
        unit: 'day',
        round: 'day',
        isoWeekday: 0,
        parser: function(w) {
          const d = new Date();
          const diff = w - d.getDay();
          d.setDate(d.getDate() + diff);
          return d
        },
        displayFormats: {
          day: 'iii'
        }
      },
      reverse: true,
      position: 'left',
      ticks: {
        source: 'data',
        maxRotation: 0,
        autoSkip: true,
        padding: 4,
        crossAlign: 'far',
        font: {
          size: 9,
        },
        callback: function(value, index, values) {
          return ['Mon', 'Wed', 'Fri'].indexOf(value) > -1 ? value : '';
        },
      },
      grid: {
        display: false,
        drawBorder: false,
        tickLength: 0
      },
    },
    x: {
      type: 'time',
      position: 'bottom',
      offset: true,
      display: false,
      time: {
        unit: 'week',
        round: 'week',
        isoWeekday: 0,
        displayFormats: {
          week: 'MMM'
        }
      },
      grid: {
        display: false,
        drawBorder: false,
        tickLength: 0,
      }
    }
  };

  const options = {
    responsive: false,
    aspectRatio: 5,
    plugins: {
      legend: false,
      tooltip: {
        displayColors: false,
        callbacks: {
          title() {
            return '';
          },
          label(context) {
            const v = context.dataset.data[context.dataIndex];
            return [
              (!v.v ? "No activities" : "Moved for " + v.l) + " on " + v.d,
            ];
          }
        }
      },
    },
    scales: scales,
    layout: {
      padding: {
        top: 4,
        bottom: 4,
      }
    }
  };

  const getBgColor = (c) => {
      const value = c.dataset.data[c.dataIndex].v;
      const alpha = value / 7200;
      return value ? `rgba(5, 150, 105, ${alpha})` : 'rgba(229, 231, 235, 1)';
  }

    const getBorderColor = (c) => {
      const value = c.dataset.data[c.dataIndex].v;
      const alpha = value / 7200;
      return value ? `rgba(5, 150, 105, ${alpha})` : 'rgba(229, 231, 235, 1)';
    }

  const data = {
    datasets: [{
      label: 'Moving time',
      data: {{ last_year_moving|safe }},
      backgroundColor(c) {
          return getBgColor(c);
      },
      borderColor(c) {
          return getBorderColor(c);
      },
      borderWidth: 1,
      hoverBackgroundColor(c) {
          return getBgColor(c);
      },
      hoverBorderColor(c) {
          return getBgColor(c);
      },
      width(c) {
        const a = c.chart.chartArea || {};
        return (a.right - a.left) / 52 - 2;
      },
      height(c) {
        const a = c.chart.chartArea || {};
        return (a.bottom - a.top) / 8 - 3;
      },
      borderRadius: 3,
    }]
  };


  const config = {
    type: 'matrix',
    data: data,
    options: options
  };

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, config);
</script>
