{% load humanize %}
{% load heroicons %}

<section class="mb-8 space-y-2">
  <section class="flex items-center flex-wrap justify-between">
    <h2 class="text-lg font-medium mr-4">
      Latest activities
    </h2>
    <form>
      <input
        placeholder="Type to search..."
        type="text"
        name="q"
        class="form-control form-block opacity-70"
        value="{{ request.GET.q }}"
      />
    </form>
  </section>

  <ul class="space-y-4">
    {% for activity in page_obj %}
      {% include "activity/_activity.html" %}
    {% endfor %}
  </ul>
</section>


<section class="pagination__wrapper">
  <p>
    Total: {{ all_time_total|intcomma }} activities
  </p>

  <ul class="pagination__button">
    {% if page_obj.number %}
      {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
          <a href="?page=1" class="pagination__nav">
            {% heroicon_outline "chevron-double-left" class="w-6 h-6" %}
          </a>
        {% endif %}
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination__nav">
          {% heroicon_outline "chevron-left" class="w-6 h-6" %}
        </a>
      {% endif %}

      <span class="px-2 text-center">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination__nav">
          {% heroicon_outline "chevron-right" class="w-6 h-6" %}
        </a>

        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
          <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination__nav">
            {% heroicon_outline "chevron-double-right" class="w-6 h-6" %}
          </a>
        {% endif %}
      {% endif %}
    {% endif %}
  </ul>
</section>
