{% load tz %}
<section>
  <section class="space-y-2 hidden md:block mb-8">
    <h2 class="text-lg font-medium">{{ last_year_count }} activities in the last year</h2>
    <section class="p-4 border rounded">
      {% include "page/_heatmap.html" %}
    </section>
  </section>

  <section class="space-y-2">
    <h2 class="text-lg font-medium">Recent activities</h2>
    <ul class="space-y-4">
      {% for activity in activities %}
        <li class="p-4 border rounded bg-gray-50 space-y-4">
          <p class="text-xs">
            {% timezone activity.timezone %}
              {{ activity.start_date|localtime }} &middot; {{ activity.start_location }}
            {% endtimezone %}
          </p>
          <h3 class="text-xl font-bold">
            {{ activity.name }}
          </h3>
          <section class="flex items-start justify-start">
            <section class="pr-6 border-r">
              <h4 class="text-xs">Distance</h4>
              <p class="text-lg">{% widthratio activity.distance 1000.0 1.0 %} km</p>
            </section>
            <section class="px-6 border-r">
              <h4 class="text-xs">Elev. gain</h4>
              <p class="text-lg">{{ activity.total_elevation_gain }} m</p>
            </section>
            <section class="px-6">
              <h4 class="text-xs">Time</h4>
              <p class="text-lg">{{ activity.moving_time }} s</p>
            </section>
          </section>
          <img src="{% url "activity:map" activity.id %}" class="rounded" />
        <li>
      {% endfor %}
    </ul>
  </section>
</section>
