{% extends "base.html" %}

{% load heroicons %}
{% load humanize %}

{% block title %}{{ username }}{% endblock %}

{% block main %}
  <section class="flex flex-wrap items-center justify-between my-10 space-y-4">
    <a class="text-4xl font-bold" href="{% url "page:profile" username %}">
      {{ username }}
    </a>
    <p class="flex items-center justify-center space-x-3">
      <span class="flex items-center justify-center space-x-1">
        {% include "activity/run.svg" %}
        <span>{{ all_time_distance.Run|intcomma }} km</span>
      </span>
      <span class="flex items-center justify-center space-x-1">
        {% include "activity/ride.svg" %}
        <span>{{ all_time_distance.Ride|intcomma }} km</span>
      </span>
      <span class="flex items-center justify-center space-x-1">
        {% include "activity/swim.svg" %}
        <span>{{ all_time_distance.Swim|intcomma }} km</span>
      </span>
    </p>
  </section>

  {% if not request.GET.page and not request.GET.q %}
    {% include "page/_heatmap.html" %}
  {% endif %}

  {% include "page/_recent.html" %}
{% endblock %}
