{% extends "base.html" %}

{% load heroicons %}
{% load humanize %}

{% block title %}{{ username }}{% endblock %}

{% block main %}
  <section class="flex items-center justify-between my-10">
    <section class="flex items-center justtify-center space-x-2">
      <h1 class="text-4xl font-bold">
        {{ username }}
      </h1>
    </section>
    <a href="{% url "page:rss" username %}" class="opacity-50" />
      {% heroicon_outline "rss" class="w-6 h-6" %}
    </a>
  </section>

  {% include "page/_stats.html" %}
{% endblock %}
