{% extends "base.html" %}

{% load humanize %}
{% load tz %}

{% block main %}
  <section class="flex items-center justify-start my-10 space-x-2">
    <h1 class="text-4xl font-bold">
      Settings
    </h1>
  </section>

  <section class="mb-8 space-y-2">
    <section class="flex items-center justify-between space-x-4">
      <h2 class="text-lg font-medium opacity-50">
        These metrics are used to calculate your performance
      </h2>
    </section>
    <form method="post" class="px-4 py-6 mt-8 border rounded space-y-6 bg-white">
        {{ form.non_field_errors }}
        <div>
            <label for="{{ form.sex.id_for_label }}">Sex:</label>
            {{ form.sex }}
            {{ form.sex.errors }}
        </div>
        <div>
            <label for="{{ form.birthday.id_for_label }}">Birthday: (YYYY-MM-DD)</label>
            {{ form.birthday }}
            {{ form.birthday.errors }}
        </div>
        <div>
            <label for="{{ form.resting_hr.id_for_label }}">Resting heart rate: (bpm)</label>
            {{ form.resting_hr }}
            {{ form.resting_hr.errors }}
        </div>

        <div class="space-x-2">
          <input type="submit" value="Update" class="btn btn-primary">
          <a href="{% url "page:profile" request.user.username %}" class="btn btn-outline">
            Cancel
          </a>
        </div>
        {% csrf_token %}
    </form>
  </section>
{% endblock %}
