{% load static %}

{% if activity.start_location %}
  {% if request.user == activity.user or not activity.hide_map %}
    <a href="{% url "activity:route" activity.id %}"
       class="overflow-hidden rounded text-link"
       title="View 3D map">
      <div style="width: 718px; height: 287px;">
        <div class="flex items-center" style="width: 718px; height: 287px;">
          <img src="{% get_media_prefix %}{{ activity.map }}" class="object-cover rounded" />
        </div>
      </div>
    </a>
  {% endif %}
{% endif %}
