{% load heroicons %}
{% load static %}

<li class="relative px-4 py-6 bg-white border rounded bg-gray-50 space-y-4">
  <section class="flex items-start justify-between space-x-2">
    {% include "activity/_activity_date.html" %}
  </section>

  <h3 class="flex items-center text-xl font-bold justify-stretch space-x-3">
    <span class="flex-shrink-0">
    {% if activity.type == "Ride" %}
      {% include "activity/ride.svg" %}
    {% elif activity.type == "Run" %}
      {% include "activity/run.svg" %}
    {% elif activity.type == "Swim" %}
      {% include "activity/swim.svg" %}
    {% elif activity.type == "Hike" %}
      {% include "activity/hike.svg" %}
    {% elif activity.type == "Walk" %}
      {% include "activity/walk.svg" %}
    {% else %}
      {% include "activity/activity.svg" %}
    {% endif %}
    </span>
    <a href="{% url "activity:detail" activity.id %}" class="text-link">
      <p>{{ activity.name }}</p>
    </a>
  </h3>

  {% include "activity/_activity_desc.html" %}
  {% include "activity/_activity_map.html" %}
<li>
