<canvas style="" id="heart"></canvas>

<script src="//cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>
  const data = {{ activity.heart_rate_zones|safe }};
  const config = {
    type: 'doughnut',
    options: {
      plugins: {
        legend: {
            position: 'bottom',
        },
        tooltip: {
          callbacks: {
            label(context) {
                return ' ' + data[context.dataIndex].zonef + ': ' + data[context.dataIndex].timef;
            },
          },
        },
      },
    },
    data: {
      datasets: [{
        data: data.map(d => d.time),
        backgroundColor: [
          'rgb(229, 231, 235)',
          'rgb(147, 197, 253)',
          'rgb(52, 211, 153)',
          'rgb(245, 158, 11)',
          'rgb(219, 39, 119)',
        ],
      }],
      labels: data.map(d => d.zonef),
    },
  };
  var ctx = document.getElementById('heart').getContext('2d');
  var chart = new Chart(ctx, config);
</script>
