{% extends "base.html" %}

{% load heroicons %}
{% load humanize %}
{% load tz %}

{% block main %}
  <section class="flex items-center justify-start space-x-2 my-10">
    <h1 class="text-4xl font-bold">
        {{ activity.name }}
    </h1>
  </section>

  <section class="mb-8 space-y-2">
    <section class="flex items-center justify-between space-x-4">
      <a href="{% url "page:athlete" activity.user.username %}" class="text-link text-lg font-medium opacity-50">
        {% heroicon_outline "chevron-left" class="w-4 h-4" %}
        Profile
      </a>
      <a href="{% url "page:athlete" user.username %}" class="text-link opacity-50">
        Route
        {% heroicon_outline "external-link" class="w-4 h-4 ml-1" %}
      </a>
    </section>
    <form method="post" class="mt-8 space-y-6 px-4 py-6 rounded border">
        {{ form.non_field_errors }}
        <div>
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <div>
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
        </div>
        <div>
            {{ form.initial_rotation.errors }}
            <label for="{{ form.initial_rotation.id_for_label }}">Initial map rotation:</label>
            {{ form.initial_rotation }}
        </div>

        <input type="submit" value="Update" class="btn btn-lg btn-primary w-full">
        {% csrf_token %}
    </form>
  </section>
{% endblock %}
