{% extends "base.html" %}

{% load heroicons %}
{% load humanize %}
{% load tz %}
{% load static %}

{% block title %}{{ activity.type }}: {{ activity.name }} &middot; {{ activity.user.username }}{% endblock %}

{% block image %}{% if activity.start_location %}https://{{ request.get_host }}{% get_media_prefix %}{{ activity.map }}{% endif %}{% endblock %}

{% block main %}
  <section class="flex items-center justify-start my-10 space-x-2">
    <h1 class="text-4xl font-bold">
        {{ activity.type }}: {{ activity.name }}
    </h1>
  </section>

  <section class="mb-8 space-y-2">
    <ul class="space-y-4">
      {% include "activity/_activity_detail.html" %}
    </ul>
  </section>
{% endblock %}
